@media (min-width: 1200px)
{
.media_item {
    width: 14.28571%;
}
}
@media screen and (max-width:1024px){
	/*body{ padding-top:64px;}*/
	/*header{ background-color:#f5f4f4; height:64px;}*/
	 #sub-wrapper{ padding-top:0;}
	.logo{ width:100px;}
/*	nav{background-color: #f5f4f4; display: -webkit-flex; -webkit-align-items: center; display: flex; align-items: center; justify-content: center; -webkit-justify-content: center; height:0; left: 0; position: fixed; width: 100%; -webkit-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86); -moz-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86); -o-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86); overflow:hidden;}
	nav ul{width:320px; text-align: center;}
	nav li{ display: block; float: none;}
	nav a{padding:10px;}
	nav.active{ height:100%; overflow-y: scroll;}*/
	.menu-trigger, .close-trigger{ display: block;}
	.container{ width:100%;}
	#content-section > div{ padding-top:50px}
	.pull-top{ margin-top:0; padding:50px;}
	#banner{ height: inherit}
}

@media screen and (max-width:940px){
.news-list li{ padding-left:15px;}
.news-list figure{ margin:0 0 15px; position: static; width:100%;}
}
@media (min-width: 768px)
{
    nav li {
        float: left;
    }
   
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
     .carousel.slide {
        position: relative;
        height: 100%;
    }
    .modal-dialog {
        width: 100%;
        margin: 30px auto;
    }
     .success-video-carousel {
        position: absolute;
        bottom: -300px;
        transition: bottom 0.3s;
    }
    .success-video-carousel.open {
        bottom: 0;
    }
    .photoedit_photo {
        height: 140px;
        width: 140px;
    }
}
@media screen and (max-width:768px){
    [class*="col-xs-"]{ float: none; width:100%;}
    .pull-top{ padding:50px 30px 20px;}
    .search-blk{ margin-bottom:20px; width:100%;}
    .top-nav{ margin-bottom:30px;}
    .top-nav ul{ float: none;}
    .list-col li{ width:50%;}
    #hero-banner{ -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;  height:300px; background-position: center;}
    #hero-banner img{ display: none;}
    .add-score ul{ margin-bottom:20px;}
    .teams-scores{ padding-left:0; padding-right:0; margin-bottom:20px; text-align: center}
    .teams-scores img{ position: static; margin:0 auto 15px; display: block}
    .live-tab{ margin:0 -30px;}
    .spl-line .col-xs-4{ padding-top:30px;}
    .spl-line .col-xs-4:before{ display: none;}
    .live-score-landing .member-list li{ width:33.333%;}
    .header_button {
        float: right;
        text-align: left;
    }
     .navbar-nav{
        display: none;
    }
   
/*    nav li {
        float: left;
    }*/
}

@media screen and (max-width:640px){
	.block-list li, .news-list li{ float: none; width:100%;}
	.block-list li, .news-list li{ margin-bottom:25px;}
	.block-list li:last-child, .news-list li:last-child{ margin-bottom:0;}
	table{margin-bottom:30px;}
	table td, table tr { display: block; width: 100%;}
	table tr th{display: none;}
        /*table tr:first-child{ display: none;}*/
	table tr { margin-bottom:20px; border: 1px solid #dbdbdb; border-bottom: none;}
	table tr:hover{ border-left:1px solid #dbdbdb;}
	table tr:last-child{ margin-bottom: 0;}
	table td {border: none;	border-bottom: 1px solid #dbdbdb; 	position: relative;	padding-left: 50% !important; white-space: normal;
	text-align:left;}
	table td:before { position: absolute;top: 10px; left:0px;	width: 50%; padding-left: 15px; white-space: nowrap;
	text-align:left;font-weight: bold;}
	table td:before { content: attr(data-title); }
	.member-details{ position: relative; padding-top:250px;}
.member-details .col{ float:none; width:100% !important;}
.member-details .mem-profile{ position: absolute; padding:15px; top: 0px; left:0px;	width: 100% ; text-align: center}
.mem-table{ margin-bottom:0;}
.mem-table tr{ border: none !important; overflow: hidden; margin-bottom:0;}
.mem-table td{ padding-left:0px !important; width:50%; display:inherit; float: left; font-size:14px; line-height:18px;}
.mem-table td:before{ display:none;}
.mem-det{ padding-top:30px;}
.batt-field th, .batt-field td, .bolw-field th, .bolw-field td{ width:100%;}
.batt-field tr, .bolw-field tr{border: 1px solid #dbdbdb; border-bottom: none;}
.ui-datepicker-calendar tr, .ui-datepicker-calendar td{width: inherit;}
.ui-datepicker-calendar tr{display: table-row; margin-bottom: 0}
.ui-datepicker-calendar td{ display: table-cell;}
.ui-datepicker-calendar td{ padding-left:0 !important;}
.total-table, .btn{ width:100%;}
.btn{min-width:100%;}
.live-score-landing .container{ padding-left:15px; padding-right:15px;}
	.scoreboard-list td span:first-child{ padding-bottom:10px;}
	.scoreboard-list td span{ display:block; width:100%; float:none;}
	.live-score-landing .member-list li{ width:50%; float: left;}
	.scoreboard-list span img{ display:block; margin-bottom:5px; width:50px;}
        
        .header_logo{
            width: 100%;
            float: none;
            text-align: center;
        }
        .logo {
    float: none;
    margin: 0;
    width: 100%;
}
.header_button > div {
    display: block;
    margin-top: 20px;
}
header .text-right{
    text-align: center;
}
.header_button {
    float: none;
    text-align: center;
}
        
}

@media screen and (max-width:568px){
	.fixtures-table span{ display:block; padding-left:15px;}
	.list-col li, .half-width div{ float: none; width:100%;}
	.half-width div{ margin-bottom:15px;}
	.half-width div:last-child{ margin-bottom:0;}
	.button-row{ margin-bottom:30px;}
	.button-row .fL, .button-row fR, .select-option{ float: none; width:100%;}
	.over-header{ padding:15px;}
	.over-header [class*="over-"]{ position: static; text-align: left;}
	.over-count{ display: block; padding-bottom: 5px;}
	.over-header .l-ball{ margin-bottom:5px;}
		.live-score-landing .member-list li{ width:100%; float:none;}
		.total-over div{ width:100%; float: none;}
		.total-over div:last-child{ text-align: right}
		.total-over div strong{ padding-left:0;}
		.total-over div:last-child strong{ margin-left:15px;}
		.total-over div:first-child strong:first-child{ padding-left:6px}
}


