.login-container {
  margin: 40px 0;
  padding: 40px 60px;
  background-color: #F5F5F5;
}

.favourite-profile {
  text-align: center;
  img {
    margin: 0 auto 15px auto;

  }
}

.panel {
  box-shadow: none;
}

.payment-errors {
  display: none;
}


/*// Admin filters/actions for tables*/
.table-admin {
  margin-bottom: 20px;
}

/*// Plan features*/
.plan-features {
  li {
    position: relative;
    padding: 0px 0px 5px 20px;
    i {
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
}

/*// Page content*/
#page-content {
  position: relative;
  overflow: hidden;
}

/*// Video carousel*/
.view-showcase {
  display: none;
}

.success-video-carousel {
  background: rgba(0,0,0,0.6);
  padding: 30px 60px 15px 60px;
  width: 100%;

  .slick-arrow {
    margin-top: -47px;
    &.slick-prev {
      left: -30px;
    }
    &.slick-next {
      right: -30px;
    }
  }

  .SuccessStories__item__title {
    color: #FFF;
  }
}

@media (min-width: $screen-sm) {
  .view-showcase {
    display: inline-block;
  }

  .success-video-carousel {
    position: absolute;
    bottom: -300px;
    transition: bottom 0.3s;
    &.open {
      bottom: 0;
    }
  }
}

.SuccessStories__slide {
  padding: 0 20px;
}

/*// Progress Circle*/
#progress {
  height: 100px;
  width: 130px;
  > svg {
    height: 100%;
    display: block;
  }
}

.margin-bottom {
  margin-bottom: 20px;
}

.save-100 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #d9534f;
}

.vertical-table {
  display: table;
}

.vertical-cell {
  display: table-cell;
  vertical-align: middle;
}

.modal-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &.show {
    opacity: 1;
    visibility: visible;
  }

  img {
    position: absolute;
    top: 50%;
    margin: -75px 0 0 -75px;
    left: 50%;
  }
}

@media(max-width: $screen-sm) {
  input, select, textarea {
    font-size: 16px !important;
  }
}

.subscription-marker--premium {
  color: #7f6b00;
}

.subscription-marker--basic {
  color: #00007f;
}

.max-accounts-reached {
  color: red;
}