
    
    /* Slider */

    .slick-slider {
        position: relative;
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;

        &:before,
            &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }

        .slick-loading & {
            visibility: hidden;
        }
    }
    .slick-slide {
        float: left;
        height: 100%;
        min-height: 1px;
        [dir="rtl"] & {
            float: right;
        }
        img {
            display: block;
        }
        &.slick-loading img {
            display: none;
        }

        display: none;

        &.dragging img {
            pointer-events: none;
        }

        .slick-initialized & {
            display: block;
        }

        .slick-loading & {
            visibility: hidden;
        }

        .slick-vertical & {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
    }
    .slick-arrow.slick-hidden {
        display: none;
    }
    .Slideshow {
        .slick-arrow {
            background: none;
            border: none;
            color: #F9DF6E;
            font-size: 30px;
            position: absolute;
            top: 50%;
            z-index: 20;
            &:focus {
                outline: 0;
            }

            &.slick-prev {
                left: 30px;
            }

            &.slick-next {
                right: 30px;
            }
        }
    }

    .Slide {
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        position: relative;
    }

    .Slide__caption {
        color: #FFF;
        margin-top: -40px;
        position: absolute;
        top: 50%;
    }

    .Slide__profile {
        bottom: 40px;
        color: #FFF;
        position: absolute;
        a {
            color: #F9DF6E;
        }
        right: 30px;
    }


    .Slide__content {
        color: #FFF;
        padding-top: 100px;
        font-size: 15px;

        ul {
            list-style-type: none;
            padding: 0;
            li {
                position: relative;
                padding-left: 20px;
                margin-bottom: 10px;
                &:before {
                    content: '-';
                    color: #F9DF6E;
                    position: absolute;
                    left: 0;
                }
            }
        }

        ol {
            padding-left: 20px;
            li {
                margin-bottom: 10px;
            }
        }

    }

    .PageSlideshow__nav-btn {
        color: #F9DF6E;
        &:focus {
            outline: none;
            color: #F9DF6E;
        }
    }

    .Slide h4 a {
        color: #F9DF6E;
    }

    .Slideshow {

        .slick-dots {
            padding: 0;
            position: absolute;
            bottom: 5%;
            text-align: center;
            width: 100%;

            li {
                display: inline-block;
                margin-right: 10px;
            }

            button {
                -webkit-appearance: none;
                background: #FFF;
                border: 0;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 18px;
                text-indent: -9999px;
                &:focus, &:hover {
                    outline: 0;
                }
            }

            li.slick-active button {
                background: #F9DF6E;
            }

        }
    }

/*    @media (min-width: $screen-sm) {
        //  .Slideshow .slick-arrow {
        //    display: block !important;
        //  }

        //  .Slideshow .slick-dots {
        //    display: none !important;
        //  }

        .FullscreenSlideshow {
            h1 {
                font-size: 48px;
            }
            h4 {
                font-size: 21px;
            }
        }
    }*/

    /*// Page Slideshow*/
    .PageSlideshow__slide {
        outline: none;
        .yellow {
            color: #F9DF6E;
            font-weight: bold;
        }
    }
    
    
    .Slideshow {
  .slick-arrow {
    background: none;
    border: none;
    color: #F9DF6E;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 20;
    &:focus {
      outline: 0;
    }

    &.slick-prev {
      left: 30px;
    }

    &.slick-next {
      right: 30px;
    }
  }
}

.Slide {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.Slide__caption {
  color: #FFF;
  margin-top: -40px;
  position: absolute;
  top: 50%;
}

.Slide__profile {
  bottom: 40px;
  color: #FFF;
  position: absolute;
  a {
    color: #F9DF6E;
  }
  right: 30px;
}


.Slide__content {
  color: #FFF;
  padding-top: 100px;
  font-size: 15px;

  ul {
    list-style-type: none;
    padding: 0;
    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      &:before {
        content: '-';
        color: #F9DF6E;
        position: absolute;
        left: 0;
      }
    }
  }

  ol {
    padding-left: 20px;
    li {
      margin-bottom: 10px;
    }
  }

}

.PageSlideshow__nav-btn {
  color: #F9DF6E;
  &:focus {
    outline: none;
    color: #F9DF6E;
  }
}

.Slide h4 a {
  color: #F9DF6E;
}

.Slideshow {

  .slick-dots {
    padding: 0;
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      margin-right: 10px;
    }

    button {
      -webkit-appearance: none;
      background: #FFF;
      border: 0;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 18px;
      text-indent: -9999px;
      &:focus, &:hover {
        outline: 0;
      }
    }

    li.slick-active button {
      background: #F9DF6E;
    }

  }
}

@media (min-width: $screen-sm) {
/*//  .Slideshow .slick-arrow {
//    display: block !important;
//  }

//  .Slideshow .slick-dots {
//    display: none !important;
//  }*/

  .FullscreenSlideshow {
    h1 {
      font-size: 48px;
    }
    h4 {
      font-size: 21px;
    }
  }
}

/*// Page Slideshow*/
.PageSlideshow__slide {
  outline: none;
  .yellow {
    color: #F9DF6E;
    font-weight: bold;
  }
}