  
    .SuccessStories__header {
  background: url('../images/success-stories-header.jpg') no-repeat;
  background-position: 81% center;
  background-size: cover;
  padding: 100px 0;

  h1 {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h4 {
    color: #F9DF77;
  }
}

.SuccessStories {
  margin: 50px 0;
}

.SuccessStories__item {
  margin-bottom: 30px;
}

.SuccessStories__item__image {
  min-height: 148px;
  background: #BFBFBF;
  background-size: cover;
  background-position: center;
}

.SuccessStories__item__meta {
  margin: 15px 0;
}

.SuccessStories__item__title {
  color: #000;
  float: left;
  font-weight: bold;
/*  @media (min-width: $screen-sm ) and (max-width: $screen-lg) {
    float: none;
  }*/
}

.SuccessStories__item__duration {
  float: right;
/*  @media (min-width: $screen-sm ) and (max-width: $screen-lg) {
    float: none;
  }*/
}

/*// Single page*/
.SuccessStory__video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 50px 0 30px;
}
.SuccessStory__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.SuccessStory__other-videos {
  margin: 20px 0;
}
    